{% extends 'base.html' %}
{% block title %} index {% endblock %}
{% block content %}

<div class="container d-flex">
    <div class="block m">
        <div class="bag " style=" margin: 5px 0 5px 0; font-size:2rem ; ">
            MY BAG
        </div>
        {% for i in products_cart %}
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{i.image.url}}" class="card-img-top " style="background-size:cover" alt="...">
                </div>
                <div class="col-md-8 d-flex">
                    <div class="card-body">
                        <a href="{% url 'removeCart' id=i.id %}" class="mb-5"> Сом</a>
                        <h5 class="card-title  mb-3">
                            {{i.title}}
                        </h5>
                        <p class="card-text mb-5">{{i.description}}</p>
                        <a href="" class="btn btn-primary mb-3">
                            <i class="fa-regular fa-heart"></i>
                            Save for later
                        </a>
                    </div>
                    <div class="p-3">
                        <a href=""><i class="fa-sharp fa-solid fa-xmark"></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="block">
        <div class="bag " style="width: 300px ; margin: 5px 0 5px 5px; font-size:2rem ;  ">
            TOTAL
        </div>
        <div class="card">

            <div class="sub d-flex " style="justify-content:space-between; margin: 0 10px 0 10px ;">
                <p>Su b-total</p>
                <p>{{all_products_sum}}</p>
            </div>
            <div class="sub d-flex " style="justify-content:space-between; margin: 0 10px 0 10px ">
                <p>Count</p>
                <i class="fa-solid fa-circle-exclamation"></i>
                {{count_of_product}}
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 d-flex align-items-center">
    <div class="col-sm-6 order-md-2 text-right">
        <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Оформить заказ
          </a>
    </div>

{% if messages  %}
{% for i in messages %}
<div class="alert alert-{{i.extra_tags}} d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    {{i}}
  </div>
</div>
{% endfor %}
{% endif %}


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'order' %}">
              {% csrf_token %}
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Имя:</label>
                <input type="text" class="form-control" id="recipient-name" name="c_name">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Фамилия:</label>
                <input type="text" class="form-control" id="recipient-name" name="c_lastname">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Ваш номер:</label>
                <input type="text" class="form-control" id="recipient-name" name="c_number">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Адрес:</label>
                <input type="text" class="form-control" id="recipient-name" name="c_addres">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Сообщение:</label>
                <textarea class="form-control" id="message-text" name="c_message"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Отправить</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
